body{
	width: 40em;
	max-width: 100%;
	margin: 0 auto;
	font: normal 1.1em 'Georgia', serif; /* 1.2em or 1.1em ? */
	line-height: 1.5;
}
article{
	padding: 0 2em;
	margin-bottom: 2.4em;
}
a{
	border-bottom: 0.1em solid;
	color: #4488ff;
	text-decoration: none;
}
a:hover{
	color: #4b86c2;
}
h1{
	margin: 1em 0;
	color: #333333;
	text-align: center;
	font: bold 2.4em 'Trebuchet MS';
}
h2{
	font-family: 'Trebuchet MS', Arial, sans-serif;
}
img{
	margin: 0 auto;
	max-width: 100%;
}
time{
	color: #b3b3b1;
}
nav ul{
	padding: 0;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}
nav li{
	margin-right: 1em;
	display: inline;
}
nav li:last-child{
	margin-right: 0;
}