body{
	width: 40em;
	max-width: 100%;
	margin: 0 auto;
	font: normal 1.1em 'Georgia', serif;
	line-height: 1.5;
}

article, footer{
	padding: 0 2em;
	margin-bottom: 2.4em;
}

nav ul{
	padding: 0;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}
nav li{
	margin-right: 1em;
	display: inline;
}
nav li:last-child{
	margin-right: 0;
}

h1{
	font: bold 2.4em 'Trebuchet MS';
	text-align: center;
	color: #333333;
}
h2{
	font-family: 'Trebuchet MS', Arial, sans-serif;
}

a{
	border-bottom: 0.1em solid;
	color: #4488ff;
	text-decoration: none;
}
a:hover{
	color: #4b86c2;
}

time{
	color: #b3b3b1;
}

article p{
	text-indent: 2em;
}

blockquote{
	margin: 0;
	padding: 0 2em;
}
blockquote p{
	text-indent: 0;
	font-style: italic;
}

pre{
	overflow: auto;
}