doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1")
		title Live Fast. Code Faster
		link(rel="stylesheet", href="styles.css")
	body
		header
			h1 Live Fast. Code Faster

		nav
			ul
				li: a(href="about.html") About Me
				li: a(href="archive.html") Archive

		main
			article.post!= content
				time!= time

		footer
			p License